{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<form {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {{ form_row(form.civility) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.manager) }}
    {{ form_row(form._token) }}

    <div>
        <input id="edit-partner-ajax" type="submit" class="btn btn-primary right" value="Valider"/>
        <div class="clear"></div>
    </div>
</form>
{% endblock fos_user_content %}
