<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Bird Office{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin"
          rel="stylesheet" type="text/css">


    {% block stylesheets %}
        <link href="{{ asset('bundles/user/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/user/css/styles.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

    {% stylesheets  output="css/style.css"
    '@UserBundle/Resources/less/class.less'
    '@UserBundle/Resources/less/styles.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% block javascripts %}
        <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/user/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/notify.min.js') }}"></script>
        <script src="{{ asset('bundles/user/js/main.js') }}"></script>
        <script src="{{ asset('bundles/user/js/bootstrap-datepicker.js') }}"></script>
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
                {% block navbar %}
                    <nav class="navbar">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <img class="logo" src="{{ asset('images/logo.png') }}" alt="Bird Office Logo" />
                            </a>
                        </div>
                    </nav>
                {% endblock %}
        </div>
    </nav>
    <div class="container-fluid">
        {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
        <div class="row">
            <div class="col-md-12 no-marge">
                <div class="full"><img class="visuel center block" src="{{ asset('images/visuel-web.jpg') }}" alt="Outil de gestion de planning"/></div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            {% block body %}{% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
