
{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    <form {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

        {{ form_row(form.civility) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.managedBy) }}

        <div>
            <input id="add-partner" type="submit" class="btn btn-primary right" value="Valider" data-toggle="modal" data-target="#myModal3"/>
            <div class="clear"></div>
        </div>
    </form>
{% endblock fos_user_content %}
