<ul>
    <li>Date de la demande : {{ day.startDate.date|date('d-m-y') }}</li>
    <li>Créateur de la demande : {{ day.user.firstname }}</li>
    <li>Date effective de l'absence / présence :  {{ day.startDate.date|date('d-m-y') }}</li>
    {% if day.hours != 0 %}{<li>Durée effective : {{  day.hours }}</li>{% endif %}
    <li>Type de la demande : {{ day.absenceType.name }}</li>
    <li>Description : {{ day.description }}</li>
    <li>Date de la validation : {{ day.validationDate.date|date('d-m-y') }}</li>
</ul>