<table class="table table-striped table-bordered text-center">
    <tr class="head-table">
        <th class="text-center none-mobile">Jour</th>
        <th class="text-center none-mobile">Durée</th>
        <th class="text-center none-mobile">Type</th>
        <th class="text-center none-mobile">Description</th>
        <th class="text-center">Détails</th>
        <th class="text-center" width="100">Actions</th>
        <th class="text-center" width="100">Validation</th>
    </tr>
    {% for day in days %}
    <tr>
        <td class="text-center none-mobile">{{ day.startDate|date("d/m/Y") }}</td>
        <td class="text-center none-mobile">{{ day.hours }} heures</td>
        <td class="text-center none-mobile">Absence : {{ day.absenceType.name|default('') }}</td>
        <td class="text-center none-mobile"><i>{{ day.description|default('') }}</i></td>
        <td class="text-center">
            <button type="button" data-day="{{ day.id }}" class="btn btn-primary detail-day" data-toggle="modal" data-target="#myModal">
                En savoir plus
            </button>
        </td>
        <td class="actions text-center">
           {% if day.isValidated == 0 %} <i data-day="{{ day.id }}" class="fa fa-edit icon-size edit-day"></i>{% endif %}
        </td>
        <td class="text-center">
            <form>
                {% if day.isValidated == 0 %}
                    <p class="waiting">En attente</p>
                    <div class="checkbox" data-day="{{ day.id }}">
                        <label class="choice-yes" for="check-yes">
                                Valider
                        </label>
                        <input class="validate-status" id="check-yes" {% if day.isValidated == 2 %}checked{% endif %} type="checkbox" value="2">
                        <label class="choice-no" for="check-no">
                                Refuser
                        </label>
                        <input class="validate-status" id="check-no" data-day="{{ day.id }}" {% if day.isValidated == 1 %}checked{% endif %} type="checkbox" value="1">
                    </div>
                    {% elseif day.isValidated == 1%}
                        <label class="choice-no center">Refusé</label>
                    {% elseif day.isValidated == 2 %}
                         <label class="choice-yes center">Accepté</label>
                    {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
