{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 space40"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="wrap-login">
              <!--  {% image '@UserBundle/Resources/public/images/icon-calendar.png' %}
                <img src="{{ asset_url }}" alt="Outil de gestion de planning" class="picto-calendar"/>
                {% endimage %}-->
            <h1 class="center main-title">Gestion interne du personnel</h1>
                <div class="wrapper">
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin margin">
                          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div>
                            <label for="username"></label>
                            <input type="text" id="username" name="_username" placeholder="Login" value="{{ last_username }}" class="form-control" required="required" />
                        </div>
                        <div>
                            <label for="password"></label>
                            <input type="password" id="password" placeholder="Mot de passe" name="_password" class="form-control" required="required" />
                        </div>
                        <div class="space">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">Mémoriser mes identifiants</label>
                        </div>
                        <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-lg btn-primary btn-block space" />
                         <h2 class="form-signin-heading center margin">Vous n'êtes pas inscrit ?</h2>
                         <a href="{{ path('fos_user_registration_register') }}" class="hover">
                             <input type="submit" id="_submit" name="_submit" value="M'inscrire" class="btn btn-primary center space block" />
                         </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock fos_user_content %}
