<form {{ form_enctype(form) }} name="form_day_edit" method="POST" class="datepick">
    <span class="error-field">Les champs Absence et Présence ne peuvent être sélectionnés en même temps.</span>
    {{ form_row(form.absenceType) }}
    {{ form_row(form.presenceType) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.description) }}
    {{ form_row(form.hours) }}

    <div>
        <input id="edit-day-ajax" type="submit" class="btn btn-primary right" value="Valider"/>
        <div class="clear"></div>
    </div>
</form>