{% extends 'base.html.twig' %}

{%  block body %}
        <div class="row">
            <div class="col-md-12">
                <div class="admin-title">
                    <h1 class="center headline margin15">Fiche collaborateur</h1>
                    <h2 class="nom-collab" id="username" data-user="{{ user.id }}" >{{ user.firstname }}</h2>
                    <div class="space40"></div>
                    <div class="left">
                        <select class="form-control month" name="month" id="select-month" title="Mois">
                            <option value="0">Choix du mois</option>
                            {% for j in range(1, 12) %}
                                <option value="{% if j < 10 %}0{% endif %}{{ j }}">{{ date('2016-' ~ j ~ '-01') |date('M') }} 2016</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-default margin15 right edit-day" data-user="{{ user.id }}">Ajouter un jour</button>
                </div>
            </div>
        </div>
        <div id="presences">
        </div>
<script>
    $( document ).ready(function() {
        //Affiche la liste des absences/présences
        $(function () {
            var month = $("#select-month").val();
            var user = $('#username').attr('data-user');

            $('.month').change(function () {
                var month = $("#select-month").val();
                ajaxMonthCall(user, month);
            });
            ajaxMonthCall(user, month);
        });
    });
</script>

{% endblock %}
