{% extends 'base.html.twig' %}

{%  block body %}
    <!-- Modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modal-title" class="modal-title"></h4>
                </div>
                <div id="modal-body" class="modal-body">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Détails de la demande</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer ce collaborateur ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-delete" data-user="" data-dismiss="modal" class="delete-user btn btn-primary">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <h1 class="center headline margin15">Liste des collaborateurs</h1>
                <div class="space40"></div>
                <div class="left">
                    <select id="manager" class="form-control" id="select">
                        <option selected></option>
                        <option>Responsable</option>
                        {% for manager in managers %}
                            <option  value="{{ manager.id }}">{{ manager.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="add-partner" type="button" class="btn btn-default margin15 right">Ajouter un Collaborateur</button>
            </div>
        </div>
    </div>

    <!-- Modal : Success-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Le collaborateur a été ajouté avec succès !
                </div>
            </div>
        </div>
    </div>

    <div id="searchContainer"></div>
    <div id="modal-edit"></div>

    <script>

//Affiche la liste des collaborateurs
        $(function (){
            $('#manager').change(function(){
                ajaxCall();
            });
            ajaxCall();
        });

        var urlpost = "{{  path('ajaxList') }}";

        function ajaxCall(){

            $.ajax({
                type: "POST",
                url: urlpost,
                data: {
                    manager: $('#manager').val()
                },
                success: function (msg) {
                    $('#searchContainer').html(msg);

                    $(".edit-user").unbind('click').click(function(){
                        ajax_edit_partner(
                                $(this).attr('data-user')
                        );
                    });

                    $(".delete-user").click(function(){
                        ajax_delete_partner(
                                $(this).attr('data-user')
                        );
                    });

                    //  trash warning modal
                    $('.trash-user').click(function (){
                        trashWarningModal(
                                $(this).attr('data-user')
                        );
                    });
                }
            });

        }

    // Show add modal

        var showAddModal = "{{ path('showAddModal') }}";

        $('#add-partner').click(function (){
            show_add_modal();
            });

        function show_add_modal(userId){
            $.ajax({
                type: "POST",
                url: showAddModal,
                data: {
                    user: userId
                },
                success: function(data) {
                        $('#modal-title').html(data.modalTitle);
                        $('#modal-body').html(data.modalBody);
                        $('#modal').modal('show');
                }
            })}

    // Modale ajout collaborateur
        var addPartnerAjax = "{{  path('addPartnerAjax') }}";

        function ajax_add_partner(){
            $.ajax({
                type: "POST",
                url: addPartnerAjax,
                data: {
                    civility:$('#fos_user_registration_form_civility').val(),
                    name:$('#fos_user_registration_form_name').val(),
                    username:$('#fos_user_registration_form_username').val(),
                    email:$('#fos_user_registration_form_email').val(),
                    plainPassword:$('#fos_user_registration_form_plainPassword_first').val(),
                    managedBy:$('#fos_user_registration_form_managedBy').val()
                },
            success: function(data) {
                $('#modal-title').html(data.modalTitle);
                $('#modal-body').html(data.modalBody);
                $('#modal').modal('show');
                }
            });
        }

    // Modale édition collaborateur
        var editUser = "{{ path('editPartnerAjax') }}";

        function ajax_edit_partner(userId){
            $.ajax({
                type: "POST",
                url: editUser,
                data: {
                    user: userId
                },
                success: function(data) {
                    console.log(data);
                    $('#modal-title').html(data.modalTitle);
                    $('#modal-body').html(data.modalBody);
                    $('#modal').modal('show');
                }
            });
        }

        function trashWarningModal(userId){
            $('#modal2').modal('show');
            $("#modal-delete").attr('data-user', userId);
        }

    //  suppression collaborateur
        var deleteUser = "{{ path('deletePartnerAjax') }}";

        function ajax_delete_partner(userId){
            $.ajax({
                type: "POST",
                url: deleteUser,
                data: {
                    user: userId
                },
                success: function(data) {
                    if(data.responseCode == 200){
                        $.notify(data.message, data.notification);
                        $('#searchContainer').html(data.htmlContent);
                    }
                }
            })}
    </script>
{% endblock %}