{% extends 'base.html.twig' %}

{%  block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <h1 class="center headline margin15">Liste des collaborateurs</h1>
                <div class="space40"></div>
                <div class="left">Responsable :
                    <select name="manager" id="manager">
                        <option selected></option>
                        {% for manager in managers %}
                            <option value="{{ manager.id }}">{{ manager.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="btn btn-default margin15 right" data-toggle="modal"  data-target="#myModal">Ajouter un Collaborateur</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un Collaborateur</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('UserBundle:Registration:Register')) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="searchContainer"></div>

    <script>
        console.log($('#manager').val());
        $(function (){
            $('#manager').change(function(){
                ajaxCall();
            });
            ajaxCall();
        });

        var urlpost = "{{  path('list') }}";

        function ajaxCall(){

            $.ajax({
                type: "POST",
                url: urlpost,
                data: {
                    associate: $('#manager').val()
                },
                success: function (msg) {
                    console.log(msg);
                    $('#searchContainer').html(msg);
                }
            });

        }


        var addPartnerAjax = "{{  path('addPartnerAjax') }}";

        $('#add-partner').click(function (){

           // console.log(plainPassword);
            ajax_add_partner(
                    civility,
                    name,
                    username,
                    email,
                    plainPassword,
                    managedBy
            );
            return false;
        });


        function ajax_add_partner(){
            $.ajax({
                type: "POST",
                url: addPartnerAjax,
                data: {
                    civility:$('#fos_user_registration_form_civility').val(),
                    name:$('#fos_user_registration_form_name').val(),
                    username:$('#fos_user_registration_form_username').val(),
                    email:$('#fos_user_registration_form_email').val(),
                    plainPassword:$('#fos_user_registration_form_plainPassword_first').val(),
                    managedBy:$('#fos_user_registration_form_managedBy').val()
                },
            success: function(data) {
                    jQuery('#myModal').addClass('modal-success');
                }
            });
        }





    </script>
{% endblock %}